* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
	background-color: #0A0A0A;

}

.jumbo-div{
	height: 100vh;
	padding: 10px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron-container {
	width: 50%;
	margin: 0 auto;
	padding: 10%;
}


.fontmenu {
	font-size: 50px;
	color: red;
}

.imgme {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 40%;


}

.card {
	border: 3px solid lightblue;
}

.card img {
	height: 300px;
	width: 335px;
	margin-left: 3px;
	margin-top: 3px;
}

.img-fluid {
	height: 300px;
	width: 300px;
}

.row{
	padding: 5px 5px 15px;
}

.me-img {
	border: 1px solid lightblue;
	border-radius: 50%;
	height: 210px;
	width: 210px;
	margin-left: 50px;
}

.parallax {
	background-image: url(../images/portbg.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

.parallax2 {
	background-image: url(../images/parallax2.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    height: 35vh;
}

.parallax3 {
	background-image: url(../images/parallax3.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    height: 35vh;
}

.breadcrumb {
	background: none;
}

footer	{
	height: 40px;
	padding: 5px;
	margin: 0 auto;
}

.form-row {
	margin: 2px;
}




@media only screen and (max-width: 450px){
	#port-jumbo {
		width: 50%;
		padding-top: 20px;
		margin: 0 auto;
	}

	.card {
		margin: 3px;
	}

	.display-5 {
		font-size: 30px;
		padding: 5px;
		
	}

	.paragraph {
		font-size: 10px;
	}

}
