

html {
  overflow-x: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #F9F3ED;
}


















/*parallax backgound*/
.totalcontainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container1 {
  transform: scaleX(1.11);
}
.container2 {
  transform: scaleX(1.25);
}
.layer-1 {
  height: 100vh;
  width: 100%;
  background-color: #fed8c1;
}

.layer-2 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay2.svg")
    no-repeat center center fixed;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.layer-3 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay3.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}
.layer-4 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay4.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}
.layer-5 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay5.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.55s
    both;
}
.layer-6 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453881/codepen/lay6.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s
    both;
}
.layer-7 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453881/codepen/lay7.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.85s
    both;
}
.layer-8 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453882/codepen/lay8.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
}
.laya-please {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0px;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}




/*Navigation*/
nav{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: .9;
}

.linkA {
	color: #BA3B46;
	text-align: center;
	text-decoration: none;
	width: 120px;
	font-size: 25px;
	padding: 1em 0;
	display: inline-block;
	font-weight: bold;
	transition: all .4s ease-in-out;
}

.linkA:nth-child(1):hover ~ .line {
	transform: translate(1px);
	transition: all .4s ease-in-out;
	background-color: white;
}

.linkA:nth-child(1):hover{
	color: white;
	text-decoration: none;
}


.linkA:nth-child(2):hover ~ .line {
	transform: translate(125px);
	transition: all .4s ease-in-out;
	background-color: tomato;

}

.linkA:nth-child(2):hover{
	color: 	tomato;
	text-decoration: none;
}

.linkA:nth-child(3):hover ~ .line {
	transform: translate(250px);
	transition: all .4s ease-in-out;
	background-color: #306BAC;
}

.linkA:nth-child(3):hover{
	text-decoration: none;
	color: 	#306BAC;
}


.line{
	width: 120px;
	height: 3px;
	transition: all .4s ease-in-out;
}



.list-about{
	list-style: none;
	padding: 	0;
}

#meImg{
	border-radius: 50%;
	border: 3px solid gold;
	height: 250px;
	width: 250px;
}

.list-social li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
	font-size: 	2em;
}

.list-social{
		padding-left: 0px;
}

#aboutMe{
		padding: 15px;
}

.aboutinfo{
	padding-left: 50px;
}

/*button hover*/
.btnView {
	color: #20bf6b !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 10px;
	border: 2px solid #20bf6b !important;
	border-radius: 6px;
	display: inline-block;
	margin-top: 8px;
	}

.btnView:hover {
	color: #0E0F11 !important;
	border-radius: 50px;
	border-color: #0E0F11 !important;
	transition: all 0.3s ease 0s;
	}

/*My Tecknical Skills*/
.devIcon{
	display: inline-block;
	padding: 2px;
	margin: 2px;
}

.colored {
	font-size: 4em;

}

/*Project*/

#projects{
	margin-top: 6%;
}

/*cards*/
.card-row {
  display: flex;
  justify-content: center;
  align-items: center;  
/*  min-width: 780px;*/
/*  width: 100%;*/
  height: 450px;
}

.card {
  position: relative;
  background-color: #FFFFFF;
  height: 390px;
  width: 250px;
  margin: 25px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  transition: height 0.4s, box-shadow 0.3s;
}

.card:hover {
  height: 420px;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
}

.card-image {
  /* center horizontally overflown image */
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 200px;
  min-width: 100%;
  transition: height 0.4s, opacity 0.1s;
}

.card-footer {
  position: absolute;
  bottom: 0;
  height: 230px;
  padding: 45px 15px;
  font-family: Helvetica;
  border-color: transparent;
}


.card-title {
  font-family: Serif;
  font-size: 24px;
}

.card-para {
	 font-size: 12px;
}



footer{
	
    background: #6C6E67;
	color:#fff;
	padding-bottom: 4px;
	text-align: center;	
	border-top: 2px solid #F3FFC9;
}

footer .row{
		margin-top: 3em;
}


.footer-main{
	background-color: #272727;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 0px;
}

.social-icon-div{
	width: 100%;
	height: auto;
	margin: auto;
}

.social-icon-div ul {
	text-align: center;
}

.social-icon-div ul li {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: lightgreen;
	margin: 0px 10px;
	border-radius: 100%;
}

.social-icon-div ul li a {
	color: #272727;
	font-size: 25px;
	display: block;
}

.social-icon-div ul li a i {
	line-height: 50px;
}

a {
	text-decoration: none;
	outline: none;
}

.footer-menu-div {
	width: 100%;
	height: auto;
	margin: auto;
}

.footer-menu-div ul	{
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-top: 20px;
}

.footer-menu-div ul li {
	display: inline-block;
	margin: 0px 15px;
}


.footer-menu-div ul li a {
	font-weight: 600;
	font-size: 16px;
	font-family: arial;
	color: #fff;
	text-transform: uppercase;
}



/*Mobile View*/
@media only screen and (max-width: 415px){


	.linkA {
		font-size: 30px;
	}

	nav{
		top: 30%;
		left: 55%;
	}

	.line{
		width: 110px;
	}

	.linkA:nth-child(1):hover ~ .line {
		transform: translate(8px);
	}

	.linkA:nth-child(2):hover ~ .line {
		transform: translate(8px);
	}

	.linkA:nth-child(3):hover ~ .line {
		transform: translate(8px);
	}

	#meImg{
		
		height: 200px;
		width: 200px;
		margin-left: 18%;
	}

	.list-social{
		padding-left: 0px;
	}

	#aboutMe{
		padding: 15px;
	}
}


/*Tablet View*/
@media only screen and (min-width: 416px) and (max-width: 960px){

	.linkA {
		font-size: 34px;
	}

	nav{
		top: 36%;
		left: 51%;
	}

	.linkA:nth-child(1):hover ~ .line {
		transform: translate(8px);
	}

	.linkA:nth-child(2):hover ~ .line {
		transform: translate(126px);
	}

	.linkA:nth-child(3):hover ~ .line {
		transform: translate(250px);
	}

	
}



/*Desktop Style*/
@media only screen and (min-width: 961px) and (max-width: 1024px) {

	.linkA {
		font-size: 45px;
		width: 300px;
	}

	nav{
		top: 36%;
		left: 57%;
	}

	.linkA:nth-child(1):hover ~ .line {
		transform: translate(8px);
	}

	.linkA:nth-child(2):hover ~ .line {
		transform: translate(126px);
	}

	.linkA:nth-child(3):hover ~ .line {
		transform: translate(250px);
	}

}
