* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Bree Serif', serif;
	font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
	background: #F1FFF9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFFFFF, #F1FFF9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFFFFF, #F1FFF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#arrowUp{
	padding-left: 50%;
	font-size: 3em;
}


/* Parallax background and Navigation*/

nav{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: .8;
}

.linkA {
	color: #BA3B46;
	text-align: center;
	text-decoration: none;
	width: 120px;
	font-size: 25px;
	padding: 1em 0;
	display: inline-block;
	font-weight: bold;
	transition: all .4s ease-in-out;
}

.linkA:nth-child(1):hover ~ .line {
	transform: translate(1px);
	transition: all .4s ease-in-out;
	background-color: white;
}

.linkA:nth-child(1):hover{
	color: white;
	text-decoration: none;
}


.linkA:nth-child(2):hover ~ .line {
	transform: translate(125px);
	transition: all .4s ease-in-out;
	background-color: tomato;

}

.linkA:nth-child(2):hover{
	color: 	tomato;
	text-decoration: none;
}

.linkA:nth-child(3):hover ~ .line {
	transform: translate(250px);
	transition: all .4s ease-in-out;
	background-color: #306BAC;
}

.linkA:nth-child(3):hover{
	text-decoration: none;
	color: 	#306BAC;
}


.line{
	width: 120px;
	height: 3px;
/*	background-color: grey;*/
	transition: all .4s ease-in-out;
}


.parallaxbg{
	background-image: url(../images/parallaxbg.png);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    height: 100vh;
}

/* End of Parallax background and Navigation*/


/* About Page */

#aboutPage{
	/*margin-bottom: 22em;*/
	height: 100vh;
	
}

.imgme {
	height: 200px;
	width: 200px;
	border: 2px solid #ED9B40;
	border-radius: 60%;
	margin-left: 45%;
	padding: 10px 0 0 4px;
}

#aboutInfo{
	padding-top: 5%;
}

#divSocial{
	padding-left: 42%;
	margin-top: 20px
}

.iconSocial{
	padding-left: 10px;
}


/* Web Developemt Skills*/


#webSkill{
	height: 100vh;
	padding-top: 5%;

}


.iconPadleft{
	padding-left: 10%;

}

#skillsImages{
	padding-left: 10%;
	margin-top: 50px;
}


#skillsImages i{
	font-size: 9em;
	line-height: 150px;
	padding: 17px;

}



/*Project*/

#project{
	padding-top: 10%;
	padding-bottom: 13%;
}


.projectCard {
    width: 350px;
    height: 450px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    transition: all 0.25s;
    }

  h4 {
      font-weight: 600px;
    }

    p {
      padding: 0 1rem;
      font-size: 20px;

    }


.btnView {
	color: #20bf6b !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 10px;
	border: 2px solid #20bf6b !important;
	border-radius: 6px;
	display: inline-block;
	margin-top: 8px;
	}

.btnView:hover {
	color: #0E0F11 !important;
	border-radius: 50px;
	border-color: #0E0F11 !important;
	transition: all 0.3s ease 0s;
	}



footer{
	
    background: #6C6E67;
	color:#fff;
	padding-bottom: 4px;
	text-align: center;	
	border-top: 2px solid #F3FFC9;
}

footer .row{
		margin-top: 3em;
}















@media only screen and (max-width: 400px){


	#demo-canvas{
		width: 350px !important;
	}


	#arrowUp{
	
		font-size: 2em;
	}

/* NavBar*/

	.linkA {
		width: 40px;
		font-size: 12px;
	}

	.line{
		width: 40px;
	}

	.linkA:nth-child(1):hover ~ .line {
		transform: translate(1px);
	}
	.linkA:nth-child(2):hover ~ .line {
		transform: translate(41px);
	}
	.linkA:nth-child(3):hover ~ .line{
		transform: translate(85px);
	}





 /* About Page*/


.imgme {
		height: 150px;
		width: 150px;
		margin-left: 29%;
		
	}

	#aboutMe {
		margin-left: 5px;
	}

	#divSocial{
		padding-left: 30%;
	}

	.iconSocial {
		height: 50px;
		width: 50px;

	}


	
	#webSkill{
		padding-top: 35%;
	
	}

	#skillsImages i{
	font-size: 4em;
	line-height: 75px;
	
	}


 /*Project*/
	#project{
		padding-top: 35%;

	}

	.projectCard{
		margin: 10px 10px 10px 46px;
		width: 270px;
	    height: 380px;
	    display: inline-block;
	}


}



@media only screen and (min-width: 401px) and (max-width: 960px){


	#demo-canvas{
		width: 755px !important;
	}
	
	#aboutPage{
		height: 85vh;
	}

	.imgme {
		margin-left: 36%;
		
	}

	#divSocial{
	padding-left: 30%;
	
	}

	#aboutMe {
		margin-left: 2px;
	}

	#webSkill{
		height: 89vh;
	}

	#skillsImages{
		padding-left: 13%;
		margin-top: 50px;
	}


	#skillsImages i{
		font-size: 8em;
		line-height: 135px;
		padding: 12px;

	}


	#project{
		padding-top: 5%;
		height: 60vh;

	}

	.projectCard{
		margin: 5px 5px 5px 5px;
		width: 210px;
	    height: 380px;
	    display: inline-block;
	}






}



/*Desktop Style*/
@media only screen and (min-width: 961px) {
	#demo-canvas{
		width: 1800px !important;
	}
}





